<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<main>
    <div th:replace="layout/layout :: title"></div>
    <div class="container py-4">
        <div class="container">
            <div th:replace="layout/layout :: company"></div>
        </div>
        <div class="container">
            <ul th:replace="layout/layout :: products"></ul>
        </div>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>